aniso8601==8.0.0
atomicwrites==1.4.0
attrs==19.3.0
backcall==0.2.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
coverage==5.2
decorator==4.4.2
Flask==1.1.2
Flask-Cors==3.0.8
Flask-RESTful==0.3.8
flask-swagger-ui==3.25.0
gunicorn==20.0.4
idna==2.10
ipdb==0.13.3
ipython==7.16.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.1
Jinja2==2.11.2
joblib==0.15.1
jsonschema==3.2.0
MarkupSafe==1.1.1
mock==4.0.2
more-itertools==8.4.0
numpy==1.22.0
packaging==20.4
pandas==1.0.5
parso==0.7.0
patsy==0.5.1
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.5
py==1.8.2
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==5.4.3
pytest-cov==2.10.0
pytest-mock==3.1.1
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2020.1
requests==2.24.0
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
sklearn==0.0
statsmodels==0.11.1
threadpoolctl==2.1.0
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.2.4
Werkzeug==1.0.1
